
.auth__button:hover {
    opacity: .6;
}

.navTab__burgmenu {
    cursor: pointer;
}



.navTab__burgmenu:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .navTab__burgmenu {
        display: flex;
        margin: 21px 30px 21px 0;
    }
}

@media screen and (min-width: 769px) {
    .navTab__burgmenu {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .navTab__burgmenu {
        margin: 21px 14px 21px 0;
    }
}