.header {
    
    max-width: 1280px;
    min-height: 74px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_type_main {
    background-color: #F3C1F8;
}

.header_type_movies {
    background-color: #FFFFFF;
}

.header__logo {
    height: 38px;
    width: 38px;
    margin: auto 0 auto 70px;
}


.auth__panel {
    display: flex;
    flex-direction: row;
    margin: 0 70px 0 0;
  }
  
.header__film-types {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    margin: auto 0 auto 44px;
}

.header__film-type {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    margin-right: 30px;
    margin: auto 0 auto 0;
}

.auth__button {
    width: 76px;
    height: 32px;
    margin: auto 0 auto 0;
    background-color: #000000;
    font-size: 12px;
    line-height: 32px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 0;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
}

.auth__link {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    margin-right: 30px;
    margin: auto 30px auto 0;
}

.auth__link:hover {
    opacity: .6;
}

.header_type_movies {
    
}

.header__block {
    display: flex;
    flex-direction: row;
}


.header__film-type:not(:first-child) {
    margin-left: 16px;
}

.header__account {

    margin: 21px 70px 21px 0;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    border:2px solid rgba(170,170,170,.2);

}


.header__account-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    margin: 8px 7px 8px 12px;
    color: #000000;
}

.header__account-logo {
    margin: 9px 0 9px 12px;
    width: 12px;
    height: 14px;
} 